---
layout: page
title: Biblical Studies
subtitle: Biblical studier by day
desc: Biblical studier by day
permalink: /biblical/
sections:
  - title: Education
    items:
    - title: "PhD Biblical & Theological Studies: Old Testament"
      link: #
      altdate: (in progress)
      desc: Wheaton College, Wheaton, IL
    - title: MA Biblical Exegesis
      link: #
      date: 2017-05-20
      desc: Wheaton College, Wheaton, IL
    - title: Honours Theology/Biblical Studies (OT Emphasis)
      link: #
      date: 2012-12-10
      desc: George Whitefield College, Cape Town, South Africa
    - title: BTh Theology/Biblical Studies
      link: #
      date: 2011-12-10
      desc: George Whitefield College, Cape Town, South Africa
  - title: Publications
    items:
    - title: Review of Ian Boxall's “Discovering Mathew”
      link: #
      date: 2015-01-01
      desc: Neotestamentica 49.2
  - title: Conference Presentations
    items:
    - title: An Investigation into the Use of ‫ירא‬ in Deuteronomy and its Correspondence with the NT Idea of Faith
      link: #
      date: 2016-03-11
      desc: ETS Regional Conference (Midwest)
    - title: "Searching the Bible Using NLP: Google for the Hebrew Bible"
      link: #
      date: 2019-11-23
      desc: SBL National, San Diego
  - title: Awards
    items:
    - title: Schultz Award in Old Testament Studies
      link: #
      date: 2017-05-20
      desc: 
    - title: Alpha Beta Rho Hebrew Award
      link: #
      date: 2016-05-20
      desc: 
    - title: 2nd Place ETS Regional Student Paper Competition
      link: #
      date: 2016-03-11
      desc: An Investigation into the Use of ‫ירא‬ in Deuteronomy and its Correspondence with the NT Idea of Faith

---

{% for section in page.sections %}
  <h2>{{ section.title }}</h2>

  <ul class="post-list">
    {% for item in section.items %}
    <li class="post">
      <a class="post-link" href="{{ post.link }}">
        <h4 class="post-title">{{ item.title }}</h4>
        {% if item.date %}
          <time class="post-date" datetime="{{ item.date }}">
          {% assign m = item.date | date: "%B" %}
          {% case m %}
            {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
            {% when 'September' %}Sept.
            {% else %}{{ item.date | date: "%b" }}.
            {% endcase %}
          {{ item.date | date: "%Y" }}
          </time>
        {% else %}
          <div class="post-date">{{ item.altdate }}</div>
        {% endif %}
        <p class="post-desc">{{ item.desc }}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
  
  <hr />
{% endfor %}
